Bloco_D_-_Aplicacoes_WCF/WCF/PassagensConsoleApp/Service References/ControladorPassagemService/ControladorPassagemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ControladorPassagemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14677/ControladorPassagemService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14677/ControladorPassagemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14677/ControladorPassagemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PassagemServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IControladorPassagemService_AddPassagem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPassagem" />
  </wsdl:message>
  <wsdl:message name="IControladorPassagemService_AddPassagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPassagemResponse" />
  </wsdl:message>
  <wsdl:message name="IControladorPassagemService_ListarPassagens_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPassagens" />
  </wsdl:message>
  <wsdl:message name="IControladorPassagemService_ListarPassagens_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPassagensResponse" />
  </wsdl:message>
  <wsdl:message name="IControladorPassagemService_venderPassagem_InputMessage">
    <wsdl:part name="parameters" element="tns:venderPassagem" />
  </wsdl:message>
  <wsdl:message name="IControladorPassagemService_venderPassagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:venderPassagemResponse" />
  </wsdl:message>
  <wsdl:portType name="IControladorPassagemService">
    <wsdl:operation name="AddPassagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IControladorPassagemService/AddPassagem" message="tns:IControladorPassagemService_AddPassagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControladorPassagemService/AddPassagemResponse" message="tns:IControladorPassagemService_AddPassagem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPassagens">
      <wsdl:input wsaw:Action="http://tempuri.org/IControladorPassagemService/ListarPassagens" message="tns:IControladorPassagemService_ListarPassagens_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControladorPassagemService/ListarPassagensResponse" message="tns:IControladorPassagemService_ListarPassagens_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="venderPassagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IControladorPassagemService/venderPassagem" message="tns:IControladorPassagemService_venderPassagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControladorPassagemService/venderPassagemResponse" message="tns:IControladorPassagemService_venderPassagem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IControladorPassagemService" type="tns:IControladorPassagemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPassagem">
      <soap:operation soapAction="http://tempuri.org/IControladorPassagemService/AddPassagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPassagens">
      <soap:operation soapAction="http://tempuri.org/IControladorPassagemService/ListarPassagens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="venderPassagem">
      <soap:operation soapAction="http://tempuri.org/IControladorPassagemService/venderPassagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControladorPassagemService">
    <wsdl:port name="BasicHttpBinding_IControladorPassagemService" binding="tns:BasicHttpBinding_IControladorPassagemService">
      <soap:address location="http://localhost:14677/ControladorPassagemService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>