Bloco_D_-_Aplicacoes_WCF/WCF/PassagensConsoleApp/Service References/ControladorPassagemService/ControladorPassagemService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14677/ControladorPassagemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PassagemServiceLibrary" />
  <xs:import schemaLocation="http://localhost:14677/ControladorPassagemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="AddPassagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="destino" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="valor" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPassagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPassagemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPassagens">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPassagensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PassagemServiceLibrary" minOccurs="0" name="ListarPassagensResult" nillable="true" type="q1:ArrayOfPassagem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="venderPassagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="venderPassagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="venderPassagemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>