Bloco_D_-_Aplicacoes_WCF/WCF/ClienteConsoleApp/Service References/VendedorPassagemService/VendedorPassagemService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15277/VendedorPassagemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PassagemServiceLibrary" />
  <xs:element name="ComprarPassagem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprarPassagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PassagemServiceLibrary" minOccurs="0" name="ComprarPassagemResult" nillable="true" type="q1:Passagem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPassagens">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPassagensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PassagemServiceLibrary" minOccurs="0" name="ListarPassagensResult" nillable="true" type="q2:ArrayOfPassagem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>